@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}


a {
  text-decoration: none;
  color: inherit;
}

.pointer {
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

// colors

:root {
  --bg-color: #e5e5e5;
  --primary-color: #f15543;
  --secondary-color: #232323;
}

.container {
  width: 80%;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    width: 85%;
  }

  @media screen and (max-width: 992px) {
    width: 90%;
  }
  @media screen and (max-width: 768px) {
    width: 95%;
  }
}
