.sell-btn {
  width: 85px;
  height: 85px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 19px;
  color: #fff;
  box-shadow: 0 1px 11px 3px rgb(0 0 0 / 15%);
  transition: all 0.8s ease;
  position: fixed;
  z-index: 5;
  bottom: -100%;
  right: 70px;

  @media screen and (max-width: 768px) {
    width: 70px;
    height: 70px;
    right: 30px;
  }

  &.show {
    bottom: 80px;
  }
}
