.carsList {
  padding-top: 40px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  position: relative;

  @media screen and (max-width: 1420px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1092px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 776px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.no-result {
  font-size: 2.3rem;
  font-weight: 500;
  position: absolute;
  top: 100px;
  width: 100%;
  max-width: 90vw;
  text-align: center;
}
