.hero {
  min-height: calc(100vh - 80px);
  width: 100%;
  background-color: var(--bg-color);
  padding: 0 100px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1100px) {
    padding: 0 20px;
  }

  .left {
    width: 60%;
    span {
      font-size: 5rem;
      width: 40%;
      font-weight: 700;
      text-transform: capitalize;
      color: var(--secondary-color);
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translateY(-50%);

      @media screen and (max-width: 1200px) {
        font-size: 4rem;
      }

      @media screen and (max-width: 768px) {
        font-size: 3rem;
        width: 100%;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
    }
  }

  .right {
    overflow: hidden;

    img {
      position: absolute;
      top: 100px;
      right: 0;
      width: 70%;
      @media screen and (max-width: 768px) {
        width: 120%;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .bg-text {
    font-size: 30rem;
    z-index: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 1100px) {
      font-size: 20rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 10rem;
    }
  }
}
