.budgetSearch {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  padding-bottom: 50px;

  .search-title {
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 30px;
    color: var(--secondary-color);
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }

  form {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 500px;

    input {
      padding: 12px 10px;
      font-size: 1.2rem;
      border: 1px solid gray;
      flex-grow: 1;
      @media screen and (max-width: 398px) {
        font-size: 0.8rem;
      }
      &:focus {
        outline: 1pxx solid black;
      }
    }

    button {
      font-size: 1.2rem;
      padding: 12px 10px;
      background-color: var(--primary-color);
      color: white;
      border: 1px solid var(--primary-color);
      box-shadow: 0 3px 10px 0 rgb(51 51 51 / 35%);
      border-radius: 0 5px 5px 0;

      @media screen and (max-width: 398px) {
        font-size: 0.8rem;
      }
    }
  }
}
